extensions:
    oauth: SixtyEightPublishers\OAuth\Bridge\Nette\DI\OAuthExtension
    oauth.azure: SixtyEightPublishers\OAuth\Bridge\Nette\DI\AzureOAuthExtension

oauth.azure:
    config: SixtyEightPublishers\OAuth\Config\Config(
        flowEnabled: true
        options: [
            clientId: client
            clientSecret: secret
        ]
    )
    authenticator: SixtyEightPublishers\OAuth\Tests\Fixtures\AuthenticatorFixture
