extensions:
    oauth: SixtyEightPublishers\OAuth\Bridge\Nette\DI\OAuthExtension
    oauth.facebook: SixtyEightPublishers\OAuth\Bridge\Nette\DI\FacebookOAuthExtension

oauth.facebook:
    config: @azure_config
    authenticator: SixtyEightPublishers\OAuth\Tests\Fixtures\AuthenticatorFixture

services:
    azure_config: SixtyEightPublishers\OAuth\Config\Config(
        flowEnabled: true
        options: [
            clientId: client
            clientSecret: secret
            graphApiVersion: v3.2
        ]
    )
